.about {
  align-self: center;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  width: 871px;
}

@media only screen and (max-width: 480px) {
  .about {
    flex-direction: column-reverse;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
    width: 340px;
  }
}

.about-left {
  width: 362px;
}

@media only screen and (max-width: 480px) {
  .about-left {
    align-self: center;
    width: 340px;
  }
}

.about h2 {
  color: var(--second);

  font-family: "Helvetica-Regular", Helvetica, Arial, serif;
  font-size: 18px;
  letter-spacing: 1.8px;
  margin-bottom: 30px;
}

@media only screen and (max-width: 480px) {
  .about h2 {
    color: var(--first);
    font-weight: bold;
    font-size: 48px;
    line-height: 55px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;

    position: absolute;
    top: 131px;
  }
}

.about p {
  color: var(--second);
  font-family: "Helvetica-Regular", Helvetica, Arial, serif;
  font-size: 16px;
  letter-spacing: 1.6px;
  line-height: 22.4px;
}

@media only screen and (max-width: 480px) {
  .about p {
    margin-top: 20px;
    font-size: 12px;
    line-height: 140%;
    letter-spacing: 0.1em;
  }
}

.about-image {
  height: 470px;
  width: 430px;
}

@media only screen and (max-width: 480px) {
  .about-image {
    align-self: center;
    height: 371px;
    width: 340px;
  }
}
