.about {
  align-self: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 110px;
  padding: 10px;
  width: 871px;
}

.about-left {
  width: 362px;
}

.about h2 {
  color: var(--second);

  font-family: "Helvetica-Regular", Helvetica, Arial, serif;
  font-size: 18px;
  letter-spacing: 1.8px;
  margin-bottom: 30px;
}

.about p {
  color: var(--second);
  font-family: "Helvetica-Regular", Helvetica, Arial, serif;
  font-size: 16px;
  letter-spacing: 1.6px;
  line-height: 22.4px;
}

.about-image {
  height: 470px;
  width: 430px;
}
