.about {
  align-self: center;
  width: 600px;
}

.about p {
  color: var(--blackcurrant);
  font-family: "Helvetica-Regular", Helvetica, Arial, serif;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  text-align: center;
}
