// Place all the styles related to the api/artists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Index
//------------------------------------------------------------------------------

.artist-list-item {
  display: inline-block;

  background-color: transparent;
  flex-shrink: 0;
  height: 300px;
  position: relative;
  width: 315px;

  cursor: pointer;
  margin-bottom: 20px;
  margin-right: 20px;
  position: relative;
}

@media only screen and (max-width: 480px) {
  .artist-list-item {
    margin-bottom: 10px;
    margin-right: 10px;
    height: 165px;
    width: 165px;
  }
}

.artist-list-item img {
  object-fit: cover;
  height: 300px;
  width: 315px;
}

@media only screen and (max-width: 480px) {
  .artist-list-item img {
    height: 165px;
    width: 165px;
  }
}

.artist-list-item-name {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  margin: auto;

  // height: 300px;
  width: 315px;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

@media only screen and (max-width: 480px) {
  .artist-list-item-name {
    width: 150px;
  }
}

.artist-list-item h3 {
  color: var(--first);
  font-family: "Helvetica-Bold", Helvetica, Arial, serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 4.8px;
}

@media only screen and (max-width: 480px) {
  .artist-list-item h3 {
    font-size: 24px;
  }
}

//Show
//------------------------------------------------------------------------------

.artist-show {
  margin-top: 100px;
}

@media only screen and (max-width: 480px) {
  .artist-show {
    margin-top: 60px;
  }
}

.artist-show-details {
  height: 166px;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  width: 1024px;
}

@media only screen and (max-width: 480px) {
  .artist-show-details {
    border-top-left-radius: 35px;
    border-bottom-right-radius: 35px;
    height: 432px;
    overflow: hidden;
    width: 340px;

    box-shadow: 0px 5.29183px 66.1479px rgba(0, 0, 0, 0.25);
  }
}

.artist-show-details img {
  height: 166px;
  object-fit: cover;
  width: 1024px;
}

@media only screen and (max-width: 480px) {
  .artist-show-details img {
    height: 335px;
    width: 340px;
  }
}

.artist-show-details h1 {
  background-color: var(--first);
  left: 10px;
  padding: 10px;
  position: absolute;
  top: 10px;

  color: var(--second);
  font-family: "Helvetica-Bold", Helvetica, Arial, serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 4.8px;
}

@media only screen and (max-width: 480px) {
  .artist-show-details h1 {
    top: 297px;
    left: 0px;

    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 0.1em;

    background-color: var(--second);
    color: var(--first);
    padding: 10px 10px 40px 10px;
  }
}

.artist-show-bio {
  height: 108px;
  width: 254px;

  position: absolute;
  right: 10px;
  bottom: 20px;

  background-color: var(--first);

  display: flex;
  justify-content: center;
  align-items: center;

  border-top-left-radius: 35px;
  border-bottom-right-radius: 35px;
}

// ::-webkit-scrollbar {
//   -webkit-appearance: none;
//   width: 7px;
// }
// ::-webkit-scrollbar-thumb {
//   border-radius: 4px;
//   background-color: rgba(0, 0, 0, 0.5);
//   -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
// }

@media only screen and (max-width: 480px) {
  .artist-show-bio {
    height: 96px;
    bottom: 0px;
    right: 0px;
    width: 340px;
  }
}

.artist-show-bio p {
  height: 84px;
  width: 214px;
  overflow: scroll;

  font-family: Helvetica;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

@media only screen and (max-width: 480px) {
  .artist-show-bio p {
    height: 80px;
    width: 284px;

    font-size: 16px;
    line-height: 18px;
  }
}

.artist-show-content {
  margin-top: 260px;
  width: 984px;
}

@media only screen and (max-width: 480px) {
  .artist-show-content {
    margin-top: 490px;
    width: 340px;
  }
}

.artist-show-content h1 {
  font-family: Helvetica;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;

  letter-spacing: 0.1em;
  text-transform: uppercase;

  color: var(--second);
  margin-bottom: 55px;
  margin-top: 90px;
}

@media only screen and (max-width: 480px) {
  .artist-show-content h1 {
    margin-bottom: 30px;
    margin-top: 60px;
    font-size: 18px;
    line-height: 21px;
  }
}

.artist-show-button {
  margin-top: 35px;

  align-items: center;
  background-color: var(--third);
  display: flex;
  height: 38px;
  justify-content: center;
  width: 151px;

  cursor: pointer;
  box-shadow: 0px 2.7066495418548584px 20.29987144470215px rgba(0, 0, 0, 0.25);
}

@media only screen and (max-width: 480px) {
  .artist-show-button {
    margin-top: 0px;
  }
}

.artist-show-button h6 {
  color: var(--first);
  font-family: "Helvetica-Regular", Helvetica, Arial, serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}

// .artist-instagram-container {
//   margin-top: 141px;
//   // min-width: 1163px;
//   min-width: 1180px;
//   margin-bottom: 92px;
// }

// .artist-instagram-container h1 {
//   color: var(--blackcurrant);
//   font-family: "Helvetica-Bold", Helvetica, Arial, serif;
//   font-size: 36px;
//   font-style: normal;
//   font-weight: 700;

//   background-color: transparent;
//   flex-shrink: 0;
//   height: auto;
//   letter-spacing: 3.6px;
//   min-height: 41px;
//   min-width: 328px;
//   text-align: left;
//   width: auto;

//   margin-bottom: 107px;
// }

// .artist-instagram-row {
//   display: flex;
// }

// .artist-instagram-list {
//   display: flex;
//   flex-wrap: wrap;
// }

// .insta-pic-small {
//   width: 186.05px;
//   height: 182.24px;

//   margin-right: 9.54px;
//   margin-bottom: 7px;

//   cursor: pointer;
// }

// .insta-pic-large {
//   height: 373.83px;
//   width: 381.64px;

//   margin-right: 9.54px;
//   margin-bottom: 7px;

//   cursor: pointer;
// }

// * {
//   box-sizing: border-box;
// }

// .artist-show {
//   padding-bottom: 100px;
// }
