// Place all the styles related to the api/artists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Index
//------------------------------------------------------------------------------
.artist-index-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.artist-index {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 90%;
}

.artist-list-item {
  align-items: center;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  margin: 20px;
  overflow: hidden;
  width: 300px;
}

.artist-list-item img {
  height: 300px;
  width: 300px;
}
.artist-list-item h4 {
  font-size: 20px;
  margin-top: 15px;
}

//Show
//------------------------------------------------------------------------------
.artist-show {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.artist-show-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.artist-show-details img {
  height: 400px;
  margin: 20px;
  width: 400px;
}

.artist-show-details-text {
  margin: 20px;
  height: 400px;
  width: 400px;
  overflow: scroll;
}

.artist-show-details-text h4 {
  font-size: 30px;
  font-weight: 700;
}

.artist-show-details-text p {
  margin-top: 20px;
}

.artist-show-music {
  width: 840px;
}
.artist-show-music h2 {
  font-size: 30px;
  font-weight: 700;
  margin: 30px 0;
}

.artist-show-music ul {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;
}

.artist-show-music li {
  cursor: pointer;
  margin: 5px;
}

.artist-show-music img {
  height: 150px;
  width: 150px;
}

// Artist Admin
//------------------------------------------------------------------------------

.admin-artist {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
}

.admin-artist-form-container h2 {
  font-size: 30px;
  font-weight: 700;
}

.admin-artist-form {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  width: 300px;
}

.admin-artist-form input,
.admin-artist-form textarea {
  border: 1px solid #ccc;
  margin: 0 0 5px;
  width: 100%;
  padding: 10px;
}

.admin-artist-form input:focus,
.admin-artist-form textarea:focus {
  outline: none;
}

.admin-artist-form textarea {
  height: 150px;
  width: 100%;
  resize: none;
}
