.background {
  background-color: #e0dcdc;
  width: 100vw;
  height: 100vh;
}

.left-rect {
  background-color: #352d39;
  height: 401px;
  left: 0px;
  position: absolute;
  top: 170px;
  width: 57px;
}

.bottom-rect {
  position: fixed;
  width: 200px;
  height: 37px;
  right: 0;
  bottom: 0;

  background: #352d39;
  z-index: 10;
}

// Navbar

.nav-container {
  display: flex;
  justify-content: space-between;

  padding-top: 30px;
}

.navbar {
  display: flex;

  margin-left: 20px;
}

.nav-spacemother {
  display: flex;
  cursor: pointer;
}

.nav-s-high {
  position: relative;
  left: 19px;
  top: -9px;

  font-family: "Handlee", cursive;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 40px;

  text-transform: uppercase;

  color: #352d39;
  transform: rotate(-180deg);
}

.nav-s-low {
  position: relative;
  top: -3px;

  font-family: "Handlee", cursive;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 40px;

  text-transform: uppercase;

  color: #352d39;
  transform: rotate(-180deg);
}

.nav-pacemother {
  font-family: "Hind", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 45px;
  text-transform: uppercase;

  color: #352d39;
}

.nav-list {
  align-items: center;
  background: #352d39;
  display: flex;
  flex-direction: row;
  height: 40%;
  justify-content: space-around;
  list-style-type: none;
  margin-left: 25px;
  padding-right: 10px;
  margin-top: 11px;
}

.nav-li {
  margin-left: 10px;

  font-family: Helvetica;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  // line-height: 16px;

  color: #ffffff;
  cursor: pointer;
}

.nav-right {
  margin-right: 20px;
  margin-top: 11px;
}

.nav-right button {
  border: none;
  background: none;
  outline: none;
  cursor: pointer;
}

.nav-icon {
  color: #352d39;
  font-size: 18px;
}

.dropdown {
  background-color: seashell;
  position: absolute;
  right: 20px;
  z-index: 10;
}

.dropdown ul {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 40px;
  justify-content: space-between;
  padding: 5px;
  width: 90px;
}

.dropdown li {
  cursor: pointer;
  font-size: 18px;
}

.login-form {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 90px;
  justify-content: space-between;
  padding: 5px;
  width: 140px;
}

.login-form input {
  width: 80%;
}

.login-form button {
  color: #ffffff;
  font-family: Open Sans;
  font-size: 14px;
  font-weight: 100;
  padding: 5px;
  background-color: #352d39;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  width: 66%;
}

.login-form button:hover {
  background: #191516;
  text-decoration: none;
}
