.background {
  background-color: #e0dcdc;
  width: 100vw;
  height: 100vh;
}

.left-rect {
  background-color: #352d39;
  height: 401px;
  left: 0px;
  position: absolute;
  top: 170px;
  width: 57px;
}

.bottom-rect {
  position: fixed;
  width: 200px;
  height: 37px;
  right: 0;
  bottom: 0;

  background: #352d39;
  z-index: 10;
}

// Navbar

.navbar {
  position: absolute;
  width: 595px;
  height: 45px;
  left: 29px;
  top: 19px;
}

.nav-spacemother {
  display: flex;

  position: absolute;
  left: 0%;
  right: 66.39%;
  top: 0%;
  bottom: 0%;

  cursor: pointer;
}

.nav-s-high {
  position: absolute;
  top: -3px;

  font-family: "Handlee", cursive;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 40px;

  text-transform: uppercase;

  color: #352d39;
  transform: rotate(-180deg);
}

.nav-s-low {
  position: absolute;
  top: 3px;

  font-family: "Handlee", cursive;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 40px;

  text-transform: uppercase;

  color: #352d39;
  transform: rotate(-180deg);
}

.nav-pacemother {
  position: absolute;
  left: 9.19%;
  right: 66.39%;
  top: 0%;
  bottom: 0%;

  font-family: "Hind", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 45px;
  text-transform: uppercase;

  color: #352d39;
}

.nav-list {
  display: flex;
  flex-direction: row;
  //   align-items: flex-start;
  justify-content: space-around;
  list-style-type: none;

  padding: 0px;

  position: absolute;
  left: 37.65%;
  right: 0%;
  top: 28.89%;
  bottom: 35.56%;

  background: #352d39;
}

.nav-li {
  position: static;
  //   width: 49px;
  height: 16px;
  left: 322px;
  top: 0px;

  font-family: Helvetica;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;

  color: #ffffff;
  cursor: pointer;
}
