.contact {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contact img {
  height: 400px;
}

.contact h6 {
  font-size: 30px;
  margin-bottom: 20px;
}
