.contact {
  display: flex;
  justify-content: space-around;
}

@media only screen and (max-width: 480px) {
  .contact {
    flex-direction: column;
  }
}

.contact-left {
  font-family: Helvetica;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0.1em;
  color: var(--second);
}

@media only screen and (max-width: 480px) {
  .contact-left {
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.05em;
    margin-bottom: 14px;
  }
}

.contact-left li {
  margin-bottom: 21px;
}

@media only screen and (max-width: 480px) {
  .contact-left li {
    margin-bottom: 6px;
  }

  .contact-left li:first-child {
    display: none;
  }
}

.contact-form {
  display: flex;
  flex-direction: column;
}

.contact-form label {
  display: flex;
  flex-direction: column;

  font-family: Helvetica;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.05em;

  color: var(--second);

  margin-bottom: 29.19px;
}

.contact-form input {
  height: 40px;
  margin-top: 7.15px;
  width: 540px;
}

@media only screen and (max-width: 480px) {
  .contact-form input {
    width: 340px;
  }
}

.contact-form textarea {
  height: 303px;
  margin-top: 7.15px;
  width: 540px;
}

@media only screen and (max-width: 480px) {
  .contact-form textarea {
    width: 340px;
  }
}

.contact-submit {
  background-color: var(--third);
  height: 48px;

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
}

.contact-submit h6 {
  font-family: Helvetica;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.1em;
  color: var(--first);
}
