//Event Index
//------------------------------------------------------------------------------
.event-index-container {
  width: 100%;
}

.event-index-controller-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.event-index-controller {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
  width: 60%;
}

.event-index-container ul {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  z-index: -100;
}

.event-index-item {
  background-color: #f6eee4;
  border-radius: 18.75px;
  -webkit-box-shadow: 0px 0px 5px 0px #000000;
  box-shadow: 0px 0px 5px 0px #000000;
  overflow: hidden;
  display: flex;
  margin: 50px 0;
  width: 50%;
}

.event-index-item:hover {
  -webkit-box-shadow: 0px 0px 5px 0px #000000;
  box-shadow: 0px 0px 5px 2px #000000;
}

.event-index-item img {
  border-radius: 18.75px;
  cursor: pointer;
  height: 300px;
  width: 225px;
}

.event-index-item-text {
  align-items: center;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 200px;
  width: 100%;
}

.event-index-item-text h3 {
  font-size: 30px;
  margin-bottom: 30px;
  margin-left: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.event-index-item-text p {
  font-size: 20px;
  margin: 10px 0;
}

//Event Show
//------------------------------------------------------------------------------
.event-show-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.event-show {
  justify-content: space-around;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.event-show-details {
  align-items: center;
  background-color: #f6eee4;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  min-height: 400px;
  max-width: 600px;
  min-width: 300px;
  justify-content: space-around;
  padding: 10px;
}

.event-show-details-header {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  text-align: center;
  width: 80%;
}

.event-show-details-header h6 {
  margin-top: 20px;
}

.event-show-details h4 {
  font-size: 30px;
  font-weight: 700;
}

.event-show-details p {
  padding: 3px 10px;
}

.event-show-artist {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  width: 100%;
}

.event-show-artist h5 {
  font-size: 25px;
  margin-bottom: 10px;
}

.event-show-artist ul {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.event-show-artist li {
  cursor: pointer;
  font-size: 18px;
  padding: 5px;
  text-align: center;
  width: 80%;
}

.event-show-artist li:hover {
  background-color: #f4dfdd;
}

.event-show img {
  border-radius: 25px;
  height: 400px;
  width: 300px;
}

.event-map-container {
  border-radius: 25px;
  height: 400px;
  width: 300px;
}

//Event Admin
//------------------------------------------------------------------------------

.admin-event {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
}

.admin-event-form-container h2 {
  font-size: 30px;
  font-weight: 700;
}

.admin-event-form {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  width: 300px;
}

.admin-event-form input,
.admin-event-form textarea {
  border: 1px solid #ccc;
  margin: 0 0 5px;
  width: 100%;
  padding: 10px;
}

.admin-event-form input:focus,
.admin-event-form textarea:focus {
  outline: none;
}

.admin-event-form textarea {
  height: 150px;
  width: 100%;
  resize: none;
}
