.music-player-container {
  display: flex;
  position: absolute;
  left: 0px;
  bottom: 0px;
  align-items: flex-end;
}

.music-player img {
  height: 150px;
  // width: 200px;
}

.music-player-queue {
  background-color: white;
  height: 400px;
  overflow: scroll;
}

.music-player-queue li {
  display: flex;
  padding: 5px;
}

.music-player-queue img {
  height: 50px;
  width: 50px;
}

.music-player-queue h6 {
  max-width: 300px;
  padding: 5px;
}
