.music-player-container {
  display: flex;
  position: absolute;
  left: 0px;
  bottom: 0px;
  align-items: flex-end;
}

.music-player {
  align-items: center;
  background-color: white;
  display: flex;
  flex-direction: column;
}

.music-player h1 {
  padding: 10px 0;
  max-width: 200px;
  overflow: hidden;
  white-space: nowrap;
}

.music-player-controls {
  display: flex;
  justify-content: space-around;
  margin-bottom: 5px;
  width: 100%;
}

.music-player-queue {
  background-color: white;
  height: 400px;
  overflow: scroll;
}

.music-player-queue li {
  display: flex;
  padding: 5px;
}

.music-player-queue img {
  height: 50px;
  width: 50px;
}

.music-player-queue h6 {
  max-width: 300px;
  padding: 5px;
}
