//Main
.nav-bar {
  height: 70px;
  border-bottom: 2px solid black;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 200;
}

.nav-bar-left {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.nav-bar img {
  height: 75px;
}

.nav-bar h5 {
  font-size: 25px;
  font-weight: 700;
}

.nav-bar ul {
  display: flex;
}

.nav-bar li {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  font-size: 20px;
  font-weight: 300;
  height: 70px;
  justify-content: center;
  padding: 0 15px;
}

.nav-active {
  font-weight: 700;
}

//drop-down
//------------------------------------------------------------------------------
.nav-drop-down {
  border: 1px solid black;
  background-color: white;
  display: flex;
  flex-direction: column;
  margin-top: 5px;
  width: 120px;
  position: absolute;
}

.nav-drop-down li {
  display: flex;
  font-size: 18px;
  font-weight: 400;
  height: 20px;
  padding: 10px 0;
  text-align: center;
  width: 100%;
}

.nav-drop-down li:hover {
  background-color: #fcf8f7;
  cursor: pointer;
}

.login-drop-down {
  border: 1px solid black;
  background-color: white;
  display: flex;
  flex-direction: column;
  margin-top: 5px;
  width: 160px;
  position: absolute;
}

.login-form {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.login-form input {
  border: 1px solid #ccc;
  margin: 0 0 5px;
  width: 120px;
  padding: 8px;
}

.login-form input {
  outline: none;
}

//bottom-nav
//---------------------------------------------------------------------------
.bottom-nav {
  align-items: center;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  height: 50px;
  margin-top: 70px;
}

.bottom-nav ul {
  display: flex;
}

.bottom-nav li {
  margin: 0 10px;
  cursor: pointer;
}
