//Main
.nav-bar {
  height: 70px;
  border-bottom: 2px solid black;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 200;
}

.nav-bar-left {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.nav-bar img {
  height: 75px;
}

.nav-bar h5 {
  font-size: 25px;
  font-weight: 700;
}

.nav-bar ul {
  display: flex;
}

.nav-bar li {
  padding: 0 15px;
  cursor: pointer;
  font-size: 20px;
  font-weight: 300;
}

.nav-active {
  font-weight: 700;
}

//drop-down
//------------------------------------------------------------------------------
.nav-drop-down {
  border: 1px solid black;
  background-color: white;
  display: flex;
  flex-direction: column;
  margin-top: 5px;
  position: absolute;
  padding: 10px;
  // z-index: 250;
}

.nav-drop-down li {
  font-size: 18px;
  font-weight: 400;
  margin: 5px 0;
}

//bottom-nav
//---------------------------------------------------------------------------
.bottom-nav {
  align-items: center;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  height: 50px;
  margin-top: 70px;
}

.bottom-nav ul {
  display: flex;
}

.bottom-nav li {
  margin: 0 10px;
  cursor: pointer;
}
