* {
  box-sizing: border-box;
}

.top-nav {
  align-items: center;
  background-color: var(--first);
  display: inline-flex;
  flex-direction: row;
  flex-shrink: 0;
  height: 80px;
  justify-content: space-between;
  // min-width: 1440px;
  padding: 16px 20px;
  width: 100%;

  z-index: 100;
}

.top-nav-left {
  align-items: center;
  background-color: transparent;
  display: inline-flex;
  flex-direction: row;
  flex-shrink: 0;
  height: 45px;
  justify-content: flex-start;
  margin-top: 1px;
  min-width: 595px;
  width: auto;
}

.nav-spacemother {
  background-color: transparent;
  flex-shrink: 0;
  height: 45px;
  position: relative;
  width: 202px;

  display: flex;
  align-items: center;

  cursor: pointer;
}

.nav-spacemother h6 {
  background-color: transparent;
  height: auto;
  left: 19px;
  letter-spacing: 0px;
  // position: absolute;
  text-align: left;
  top: 0px;

  color: var(--second);
  // font-family: "Hind Colombo-Regular", Helvetica, Arial, serif;
  font-family: "Hind", sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
}

.nav-list {
  // align-items: flex-start;
  align-items: center;
  background-color: var(--second);
  border-left: solid 0.5px var(--second);
  border-right: solid 0.5px var(--second);
  display: inline-flex;
  flex-direction: row;
  flex-shrink: 0;
  height: 16px;
  justify-content: flex-start;
  margin-bottom: 3px;
  margin-left: 30px;
  min-width: 379px;
  // min-width: 391px;
  width: auto;
}

.nav-music {
  background-color: transparent;
  // background-color: red;
  flex-shrink: 0;
  height: auto;
  letter-spacing: 0.7px;
  // min-height: 16px;
  // min-width: 60px;
  text-align: left;
  width: auto;

  color: var(--first);
  // font-family: "Helvetica-Regular", Helvetica, Arial, serif;
  font-family: "Helvetica", "Arial", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;

  cursor: default;
}

.nav-artist {
  background-color: transparent;
  flex-shrink: 0;
  height: auto;
  letter-spacing: 0.7px;
  margin-left: 13px;
  // min-height: 16px;
  // min-width: 66px;
  text-align: left;
  width: auto;

  color: var(--first);
  // font-family: "Helvetica-Regular", Helvetica, Arial, serif;
  font-family: "Helvetica", "Arial", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;

  cursor: default;
}

.nav-media {
  background-color: transparent;
  flex-shrink: 0;
  // height: auto;
  letter-spacing: 0.7px;
  margin-left: 13px;
  // min-height: 16px;
  // min-width: 60px;
  text-align: left;
  width: auto;

  color: var(--first);
  // font-family: "Helvetica-Regular", Helvetica, Arial, serif;
  font-family: "Helvetica", "Arial", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;

  cursor: default;
}

.nav-events {
  background-color: transparent;
  flex-shrink: 0;
  // height: auto;
  letter-spacing: 0.7px;
  margin-left: 13px;
  // min-height: 16px;
  // min-width: 72px;
  text-align: left;
  width: auto;

  color: var(--first);
  // font-family: "Helvetica-Regular", Helvetica, Arial, serif;
  font-family: "Helvetica", "Arial", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;

  cursor: pointer;
}

.nav-store {
  background-color: transparent;
  flex-shrink: 0;
  // height: auto;
  letter-spacing: 0.7px;
  margin-left: 13px;
  // min-height: 16px;
  // min-width: 63px;
  text-align: left;
  width: auto;

  color: var(--first);
  // font-family: "Helvetica-Regular", Helvetica, Arial, serif;
  font-family: "Helvetica", "Arial", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;

  cursor: pointer;
}

.nav-about {
  background-color: transparent;
  flex-shrink: 0;
  // height: auto;
  letter-spacing: 0.7px;
  margin-left: 13px;
  // min-height: 16px;
  // min-width: 64px;
  text-align: left;
  width: auto;

  color: var(--first);
  // font-family: "Helvetica-Regular", Helvetica, Arial, serif;
  font-family: "Helvetica", "Arial", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;

  cursor: pointer;
}

.nav-hover {
  background-color: var(--first);
  color: var(--second);
}

.nav-dropdown {
  position: absolute;
  background-color: #fffcf9;
  top: 47px;
  z-index: 100;
}

.nav-dropdown-right {
  position: absolute;
  background-color: #fffcf9;
  border-top: 1px solid var(--second);
  top: 47px;
  right: 10px;
  z-index: 100;
}

.nav-dropdown li,
.nav-dropdown-right li {
  color: var(--second);
  padding: 7px 6px 7px 9px;
  border-left: 1px solid var(--second);
  border-right: 1px solid var(--second);
  border-bottom: 1px solid var(--second);

  font-family: "Helvetica", "Arial", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;

  line-height: 16px;
  letter-spacing: 0.05em;

  cursor: pointer;
  z-index: 100;
}

.top-nav-right {
  align-self: flex-end;
  background-color: transparent;
  flex-shrink: 0;
  // margin-right: 8px;
  position: relative;

  justify-content: center;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.login-form {
  border: 1px solid var(--second);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 7px 6px 7px 9px;
}

.login-form input {
  width: 100px;
}

.nav-icon {
  background-color: transparent;
  border: none;
  color: var(--second);
  cursor: pointer;
  font-size: 14px;
}

.nav-icon:focus {
  outline: none;
}
