* {
  box-sizing: border-box;
}

.top-nav {
  align-items: center;
  background-color: var(--first);
  display: inline-flex;
  flex-direction: row;
  flex-shrink: 0;
  height: 80px;
  justify-content: space-between;
  padding: 16px 20px;
  width: 100%;

  z-index: 100;
}

@media only screen and (max-width: 480px) {
  .top-nav {
    height: 100%;
    padding: 0px 0px;
  }
}

.top-nav-left {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  height: 45px;
  margin-top: 1px;
  width: auto;
}

@media only screen and (max-width: 480px) {
  .top-nav-left {
    background-color: var(--second);
    display: flex;
    justify-content: center;
    margin-top: 0px;
    min-width: none;
    width: 100%;

    position: relative;
  }
}

.nav-hamburger {
  display: none;
}

@media only screen and (max-width: 480px) {
  .nav-hamburger {
    color: var(--first);
    cursor: pointer;
    display: inline;
    position: absolute;
    left: 10px;
  }
}

.nav-spacemother {
  background-color: transparent;
  flex-shrink: 0;
  height: 45px;
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.nav-spacemother h6 {
  background-color: transparent;
  height: auto;
  left: 19px;
  letter-spacing: 0px;
  text-align: left;
  top: 0px;

  color: var(--second);
  font-family: "Hind", sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
}

@media only screen and (max-width: 480px) {
  .nav-spacemother h6 {
    font-weight: normal;
    font-size: 24px;
    line-height: 36px;
    text-transform: uppercase;

    align-items: center;
    color: var(--first);
  }
}

.nav-list {
  // align-items: flex-start;
  align-items: center;
  background-color: var(--second);
  border-left: solid 0.5px var(--second);
  border-right: solid 0.5px var(--second);
  display: inline-flex;
  flex-direction: row;
  flex-shrink: 0;
  height: 16px;
  justify-content: space-between;
  margin-bottom: 3px;
  margin-left: 30px;
  min-width: 379px;
  // min-width: 391px;
  width: auto;
}

@media only screen and (max-width: 480px) {
  .nav-list {
    display: none;
  }

  .nav-verticle-invisible {
    display: none;
  }

  .nav-verticle {
    // align-items: center;
    background-color: var(--first);
    // border: 1px solid var(--second);
    color: var(--second);
    display: block;
    flex-direction: column;
    // height: 434px;
    margin-bottom: 3px;
    margin-left: 30px;
    position: fixed;
    left: -30px;
    top: 0px;
    width: 100vw;
    z-index: 200;
  }
}

.nav-li {
  flex-shrink: 0;
  height: auto;
  letter-spacing: 0.7px;
  text-align: left;
  width: auto;

  color: var(--first);
  font-family: "Helvetica", "Arial", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;

  cursor: pointer;
}

.nav-li-x {
  display: none;
}

@media only screen and (max-width: 480px) {
  .nav-li,
  .nav-li-x {
    background-color: var(--first);
    border-bottom: 1px solid var(--second);
    color: var(--second);
    padding-bottom: 20px;
    padding-top: 20px;
    padding-left: 60px;

    font-size: 18px;
    line-height: 21px;
  }

  .nav-li-x {
    display: block;
    padding-left: 22px;
  }
}

.nav-dropdown {
  position: absolute;
  background-color: var(--first);
  top: 47px;
  z-index: 100;
}

@media only screen and (max-width: 480px) {
  .nav-dropdown {
    position: relative;
    top: 20px;
    left: -60px;
    width: 100vw;
  }
}

.nav-hover {
  background-color: var(--first);
  color: var(--second);
}

@media only screen and (max-width: 480px) {
  .nav-hover {
    font-weight: bold;
  }
}

.nav-dropdown-right {
  position: absolute;
  background-color: #fffcf9;
  border-top: 1px solid var(--second);
  top: 47px;
  right: 10px;
  z-index: 100;
}

.nav-dropdown li,
.nav-dropdown-right li {
  color: var(--second);
  padding: 7px 6px 7px 9px;
  border-left: 1px solid var(--second);
  border-right: 1px solid var(--second);
  border-bottom: 1px solid var(--second);

  font-family: "Helvetica", "Arial", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;

  line-height: 16px;
  letter-spacing: 0.05em;

  cursor: pointer;
  text-transform: uppercase;
  z-index: 100;
}

@media only screen and (max-width: 480px) {
  .nav-dropdown li {
    border-left: none;
    border-right: none;
    border-bottom: none;
    border-top: 1px solid var(--second);
    width: 100vw;

    font-size: 18px;
    line-height: 21px;

    align-self: center;
    letter-spacing: 0.1em;

    color: var(--second);
    text-align: center;

    padding-bottom: 20px;
    padding-top: 20px;
  }
}

.top-nav-right {
  align-self: flex-end;
  background-color: transparent;
  flex-shrink: 0;
  // margin-right: 8px;
  position: relative;

  justify-content: center;
  display: flex;
  flex-direction: column;
  height: 100%;
}

@media only screen and (max-width: 480px) {
  .top-nav-right {
    display: none;
  }
}

.login-form {
  border: 1px solid var(--second);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 7px 6px 7px 9px;
}

.login-form input {
  width: 100px;
}

.nav-icon {
  background-color: transparent;
  border: none;
  color: var(--second);
  cursor: pointer;
  font-size: 14px;
}

.nav-icon:focus {
  outline: none;
}
