// Place all the styles related to the api/releases controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//Index
//------------------------------------------------------------------------------
.release-index-outter-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.release-index-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 141px;
  width: 1163px;
}

.release-index-container h1 {
  color: var(--blackcurrant);
  font-family: "Helvetica-Bold", Helvetica, Arial, serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;

  background-color: transparent;
  flex-shrink: 0;
  height: auto;
  letter-spacing: 3.6px;
  min-height: 41px;
  min-width: 251px;
  text-align: left;
  width: auto;

  margin-bottom: 100px;
}

.release-index {
  align-items: flex-start;
  background-color: transparent;
  display: inline-flex;
  flex-direction: row;
  flex-shrink: 0;
  flex-wrap: wrap;
  justify-content: space-around;
  min-width: 1163px;
  width: auto;
}

.release-list-item {
  background-color: transparent;
  flex-shrink: 0;
  height: 402px;
  position: relative;
  width: 369px;

  float: left;
  margin-bottom: 99.25px;
  display: flex;
  flex-direction: column;
}

.release-list-item img {
  background-color: transparent;
  flex-shrink: 0;
  height: 367px;
  width: 367px;
}

.release-list-item-bottom {
  background-color: var(--soapstone);
  flex-shrink: 0;
  height: 35px;
  opacity: 0.75;
  width: 367px;

  display: flex;
  align-items: center;
  padding-left: 4px;
  padding-right: 4px;
}

.release-list-item-bottom h6 {
  color: var(--blackcurrant);
  font-family: "Helvetica-Regular", Helvetica, Arial, serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;

  background-color: transparent;
  flex-shrink: 0;
  height: 21px;
  letter-spacing: 1.8px;
  min-height: 21px;
  text-align: left;
  width: 308px;
}

.release-list-item-bottom-icon-container {
  display: flex;
}

.artist-show-music-bottom-icon {
  font-size: 21px;
  margin-left: 2.97px;
  margin-right: 8px;
}

//Show
//------------------------------------------------------------------------------
.release-show {
  display: flex;
  justify-content: center;
  width: 100%;
}

.release-show-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 80%;
}

.release-show-details img {
  height: 400px;
  width: 400px;
}

.release-show-item {
  margin-left: 10px;
}

.release-show-song-top h4 {
  font-size: 30px;
  font-weight: 700;
}

.release-show-artist li {
  cursor: pointer;
  font-size: 20px;
  padding: 5px 0;
}

.release-show-artist li:hover {
  background-color: #fcf8f7;
}

.release-show-song-top {
  display: flex;
  margin-bottom: 30px;
}

.release-song-list {
  max-height: 400px;
  overflow: scroll;
}

.release-song {
  display: flex;
  max-width: 400px;
  height: 75px;
  margin-bottom: 8px;
}

.release-song-image {
  max-height: 75px;
  max-width: 75px;
  margin-right: 30px;
}

.release-song-details {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

// Release Admin
//------------------------------------------------------------------------------
.admin-release {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
}

.admin-release-form-container h2 {
  font-size: 30px;
  font-weight: 700;
}

.admin-release-form {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  width: 300px;
}

.admin-release-form input,
.admin-release-form textarea,
.admin-release-form select {
  border: 1px solid #ccc;
  margin: 0 0 5px;
  width: 100%;
  padding: 10px;
}

.admin-release-form input:focus,
.admin-release-form textarea:focus {
  outline: none;
}

.admin-release-form textarea {
  height: 150px;
  width: 100%;
  resize: none;
}
