// Place all the styles related to the api/releases controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//Index
//------------------------------------------------------------------------------

//Show
//------------------------------------------------------------------------------
.release-show {
  align-self: center;
  display: flex;
  justify-content: space-between;
  height: 395px;
  width: 800px;
}

.release-show-shadow {
  box-shadow: 0px 2.7066495418548584px 20.29987144470215px rgba(0, 0, 0, 0.25);
}

.release-show img {
  height: 395px;
  width: 395px;
}

.release-show-list {
  box-shadow: 0px 2.7066495418548584px 20.29987144470215px rgba(0, 0, 0, 0.25);
  height: 395px;
  overflow: scroll;
  width: 395px;
}

.release-song {
  box-shadow: 0px 2.7066495418548584px 20.29987144470215px rgba(0, 0, 0, 0.25);
  display: flex;
  height: 80px;
  margin-bottom: 10px;
  width: 395px;
}

.release-song img {
  height: 80px;
  width: 80px;
}

.release-song-details {
  margin: 10px;
  font-family: Helvetica;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0.1em;

  color: var(--second);
}
