@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");

@font-face {
  font-family: "Helvetica-Regular";
  font-style: normal;
  font-weight: 400;
  src: url("https://fonts.animaapp.com/Helvetica-Regular") format("truetype");
}

.splash-upper {
  background-color: transparent;
  flex-shrink: 0;
  height: 948px;
  margin-right: -2px;
  position: relative;
  width: 1444px;
}

.splash-rect {
  background-color: var(--blackcurrant);
  height: 501px;
  left: 0px;
  position: absolute;
  top: 155px;
  width: 35px;
}

.splash-image {
  background-color: transparent;
  height: 718px;
  left: 174px;
  position: absolute;
  top: 156px;
  width: 1270px;
}

.splash-lower-container {
  justify-content: center;
  display: flex;
  width: 100%;
}

.splash-lower {
  background-color: var(--soapstone-2);
  flex-shrink: 0;
  height: 711px;
  margin-left: 11px;
  margin-top: 129px;
  position: relative;
  width: 1173px;
}

.splash-lower-content {
  align-items: flex-start;
  background-color: transparent;
  display: inline-flex;
  flex-direction: row;
  flex-shrink: 0;
  height: 577px;
  justify-content: space-between;
  min-width: 1102px;
  width: auto;

  margin-top: 60px;
  margin-left: 36px;
  margin-right: 36px;
}

.splash-feature-display {
  display: flex;
  flex-direction: column;
  width: 310px;
}

.splash-feature-display h6 {
  background-color: transparent;
  flex-shrink: 0;
  height: 18px;
  letter-spacing: 1.6px;
  min-height: 18px;
  min-width: 192px;
  text-align: center;
  width: auto;

  display: flex;
  flex-direction: column;
  justify-content: center;

  color: var(--blackcurrant);
  font-family: "Helvetica-Bold", Helvetica, Arial, serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;

  margin-bottom: 20px;
}

.splash-feature-display img {
  border-radius: 155px;
  height: 310px;
  width: 310px;
}

.splash-feature-display p {
  align-self: center;
  background-color: transparent;
  flex-shrink: 0;
  height: 168px;
  letter-spacing: 0px;
  line-height: 21px;
  margin-top: 38px;
  min-height: 168px;
  text-align: center;
  width: 242px;

  display: flex;
  flex-direction: column;
  // justify-content: center;

  color: var(--blackcurrant);
  font-family: "Helvetica-Regular", Helvetica, Arial, serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;

  overflow: scroll;
}

:root {
  --blackcurrant: rgba(53, 45, 57, 1);
  --linen: rgba(251, 242, 234, 1);
  --orchid-pearl: rgba(109, 67, 90, 1);
  --soapstone: rgba(255, 252, 249, 1);
  --soapstone-2: rgba(255, 252, 249, 0.75);
}
