.splash {
}

.splash-placeholder {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}

.splash-subcontainer {
  display: flex;
  justify-content: center;
  width: 100%;
}

.splash-content {
  background-color: #f6eee4;
  border-radius: 10px;
  cursor: pointer;
  margin-bottom: 50px;
  padding: 25px;
  width: 40%;
}

.splash-content h1 {
  font-size: 30px;
}

.splash-content-details {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.splash-content-details h5 {
  font-size: 25px;
  margin: 0 0 20px 20px;
}

.splash-content-details img {
  height: 200px;
  width: 200px;
}
