.splash {
  background-color: blue;
  height: 2000px;
  position: relative;
}

.splash-placeholder {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}

.pallarax {
  background-image: asset-url("tree.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  height: 200px;
}

.hor-pallarax {
  position: absolute;
  top: 28%;
  left: 100px;
  width: 100%;
  text-align: center;
  background-color: black;
  margin-top: 100px;
  height: 100px;
  width: 100px;
}
