// Place all the styles related to the api/visuals controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//index
.visual-index-outter-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.visual-index-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 141px;
  width: 1163px;
}

.visual-index-container h1 {
  color: var(--blackcurrant);
  font-family: "Helvetica-Bold", Helvetica, Arial, serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;

  background-color: transparent;
  flex-shrink: 0;
  height: auto;
  letter-spacing: 3.6px;
  min-height: 41px;
  min-width: 251px;
  text-align: left;
  width: auto;

  margin-bottom: 100px;
}

.visual-index {
  align-items: flex-start;
  background-color: transparent;
  display: inline-flex;
  flex-direction: row;
  flex-shrink: 0;
  flex-wrap: wrap;
  justify-content: space-around;
  min-width: 1163px;
  width: auto;
}

.visual-list-item {
  background-color: transparent;
  flex-shrink: 0;
  // height: 402px;
  position: relative;
  width: 369px;

  float: left;
  // margin-bottom: 99.25px;
  display: flex;
  flex-direction: column;

  cursor: pointer;
}

.visual-list-item img {
  background-color: transparent;
  flex-shrink: 0;
  max-height: 367px;
  max-width: 367px;
}

//Visual Show
//------------------------------------------------------------------------------

.visual-show {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.visual-show-details img {
  max-height: 500px;
  max-width: 500px;
}
