// Place all the styles related to the api/visuals controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//index
.visual-index-outter-container {
  display: flex;
  // justify-content: center;
  width: 100%;
}

.visual-index-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  // margin-top: 141px;
  margin-top: 70px;
  margin-left: 140px;
  width: 1303px;
}

.visual-index-container h1 {
  color: var(--blackcurrant);
  font-family: "Helvetica-Bold", Helvetica, Arial, serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;

  background-color: transparent;
  flex-shrink: 0;
  height: auto;
  letter-spacing: 3.6px;
  min-height: 41px;
  min-width: 251px;
  text-align: left;
  width: auto;

  margin-bottom: 100px;
}

.visual-index {
  align-items: flex-start;
  background-color: transparent;
  display: inline-flex;
  flex-direction: row;
  flex-shrink: 0;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 1253px;
  // width: auto;

  // display: inline-block;
  vertical-align: top;
}

.visual-list-item {
  background-color: transparent;
  flex-shrink: 0;
  // height: 402px;
  position: relative;
  width: 369px;

  float: left;
  // margin-bottom: 99.25px;
  margin-right: 31px;
  display: flex;
  flex-direction: column;
}

.visual-list-item img {
  background-color: transparent;
  flex-shrink: 0;
  max-height: 367px;
  max-width: 367px;
}

.visual-list-item-bottom {
  display: flex;
  padding-left: 4px;
  padding-right: 7px;
  justify-content: space-between;

  background-color: var(--soapstone);
  opacity: 0.75;
}

.visual-list-item-bottom h6 {
  background-color: transparent;
  flex-shrink: 0;
  height: 21px;
  letter-spacing: 1.8px;
  min-height: 21px;

  color: var(--blackcurrant);
  font-family: "Helvetica-Regular", Helvetica, Arial, serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;

  margin-top: 7.5px;
  margin-bottom: 6.5px;
}

.visual-list-item-icon {
  align-self: center;
  font-size: 18px;

  cursor: pointer;
}

// .visual-list-arrow-icon {
//   position: absolute;
//   // top: 20px;
//   top: 200px;
//   left: 352px;
// }
