<html>
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <h1>Message from <%= @name %></h1>

        <p>Email: <%= @email %></p>
        <br/>
        <p>Number: <%= @number %></p>
        <br/>
        <p>Message: <%= @message %></p>

    </body>
</html>