<html>
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <h1>Introducing  <%= @artist.name %></h1>

        <p>We at Goodmother are happy to announce our new artist <%= @artist.name %>.
        <br/>
        <p><%= @artist.description %>
        <br/>
        <p>As always thank you for your support.</p>
    </body>
</html>