<html>
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <div class="email-logo">
            <%= image_tag('logo-square.png') %>
        </div>

        <h1>Welcome to the Goodmother</h1>

        <p>Founded on the philosophy that there is a inherent connection between 
        music and visual art, Spacemother is a label designed to be a home for all 
        kinds of creative beings. Our artists represent the diversity in our creative 
        world, drawing from a multiverse of backgrounds and talents, and spawning 
        all manner of expression. Brought together in the embrace of the Spacemother, 
        they created new and collaborative works, with the singular goal of celebrating 
        the whole of creation.</p>

        <p>Thanks for your support</p>
        <p class="unsubscribe">
            <%= link_to "Unsubscribe", api_unsubscribe_url(@email.unsubscribe_hash, subscription:
            "welcome"), style: "color: #bbb;", target: :_blank %>
        </p>
    </body>
</html>