<html>
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <p>Hey there!</p>
        <p>Thank you so much for becoming a part of the Spacemother family! </p>
        <p>We can't wait to share some great new music and art with you.</p>
        <p>At Spacemother we believe in community, and that engaging with ours brings the best possible experience for everyone!</p>
        <p>Got an idea for something you'd like to see?</p>
        <p>Know an amazing artist who you think does awesome work?</p>
        <p>Want to share your favorite cookie recipe?</p>
        <p>We want to hear from you!</p>

        <p>Feel free to drop us a line at Spacemother.recs@gmail.com</p>

        <p>Sincerely,</p>
        <p>Spacemother</p>

        <p>She Descends</p>
        <%= link_to "thespacemother.com", root_url, target: :_blank %>
        
        <p class="unsubscribe">
            <%= link_to "Unsubscribe", api_unsubscribe_url(@email.unsubscribe_hash, subscription:
            "welcome"), style: "color: #bbb;", target: :_blank %>
        </p>
    </body>
</html>