html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

.content {
  height: 100%;
  min-height: 100vh;
  background-color: rgba(251, 242, 234, 1);

  // align-items: center;
  // display: flex;
  // flex-direction: column;
  // justify-content: center;
}

.center-logo {
  background-color: transparent;
  flex-shrink: 0;
  height: 279px;
  width: 279px;

  position: absolute;
  top: 80px;
  z-index: 10;
}

.pointer {
  cursor: pointer;
}
