html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

//colors
:root {
  --first: #fffcf9;
  --second: #352d39;
  --third: #6d435a;
}

.background {
  height: 100%;
  min-height: 100vh;
  background-color: var(--first);
}

//Content
.content-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 69px;
  width: 984px;
}

@media only screen and (max-width: 480px) {
  .content {
    margin-top: 55px;
    width: 340px;
  }
}

//Center Logo
.center-logo-container {
  align-items: center;
  align-self: center;
  background-color: var(--first);
  border-radius: 68px;
  border: solid 11px var(--first);
  display: flex;
  justify-content: center;
  height: 136px;
  width: 136px;

  position: absolute;
  top: 85px;
  // left: 635px;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 10;
}

@media only screen and (max-width: 480px) {
  .center-logo-container {
    border: solid 3px var(--first);
    border-radius: 20px;
    height: 40px;
    width: 40px;
  }
}

.center-logo {
  background-color: var(--first);
  flex-shrink: 0;
  height: 124px;
  width: 124px;

  border: solid 1px var(--first);
  border-radius: 68px;
}

@media only screen and (max-width: 480px) {
  .center-logo {
    border-radius: 18px;
    height: 36px;
    width: 36px;
  }
}

//Header

.header-container {
  display: inline;
  margin-bottom: 76px;
  z-index: 100;
}

@media only screen and (max-width: 480px) {
  .header-container {
    margin-bottom: 100px;
  }
}

.header-container span {
  background-color: var(--first);
  padding-right: 35px;
}

.header-container h1 {
  color: var(--second);
  font-family: "Helvetica-Bold", Helvetica, Arial, serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;

  background-color: transparent;
  height: auto;
  letter-spacing: 2.4px;
  text-align: left;

  display: inline;
}

@media only screen and (max-width: 480px) {
  .header-container h1 {
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.1em;

    position: absolute;
    top: 160px;
  }
}

.header-rect {
  background-color: var(--second);
  flex-shrink: 0;
  height: 20px;
  width: 984px;

  position: absolute;
  top: 150px;
}

@media only screen and (max-width: 480px) {
  .header-rect {
    height: 10px;
    top: 100px;
    width: 340px;
  }
}

// lists
.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 90px;
  width: 984px;
}

@media only screen and (max-width: 480px) {
  .list {
    align-items: center;
    flex-direction: column;
    width: 340px;
  }
}

.list-item {
  display: flex;
  flex-direction: column;
  height: 300px;
  overflow: hidden;
  width: 315px;

  background-color: var(--first);
  box-shadow: 0px 2.7066495418548584px 20.29987144470215px rgba(0, 0, 0, 0.25);
  border: 0.676662px solid var(--second);

  margin-bottom: 20px;
}

@media only screen and (max-width: 480px) {
  .list-item {
    // align-items: center;
    height: 324px;
    margin-bottom: 30px;
    width: 340px;
  }
}

.list-item img {
  height: 156px;
  object-fit: cover;
  width: 315px;
}

@media only screen and (max-width: 480px) {
  .list-item img {
    height: 170px;
    width: 340px;
  }
}

.list-item-bottom {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 6.77px;
  margin-left: 7.53px;
  margin-bottom: 8.75px;
  margin-right: 9.66px;

  height: 100%;
}

@media only screen and (max-width: 480px) {
  .list-item img {
    height: 154px;
  }
}

.list-item-bottom h4 {
  color: var(--second);
  font-family: "Helvetica-Bold", Helvetica, Arial, serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
}

.list-item-bottom-mid {
  display: flex;
  margin-top: 6.77px;
  flex-wrap: wrap;
  width: 170px;
}

.list-item-bottom-mid li {
  font-family: Helvetica;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  // display: flex;
  // align-items: center;
  letter-spacing: 0.05em;

  color: var(--second);
  margin-right: 7px;
  cursor: pointer;

  width: 100%;
}

.list-item-bottom a {
  cursor: pointer;

  color: var(--second);
  font-family: "Helvetica-Regular", Helvetica, Arial, serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;

  letter-spacing: 0.6px;
  min-height: 15px;
  text-decoration: underline;
}

.list-item-empty {
  width: 315px;
}
