body {
  font-family: "Roboto";
}

.bottom-nav {
  align-items: center;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  height: 50px;
  margin-top: 70px;
}

.content {
  margin-top: 120px;
}

//colors
.background-main {
  background-color: #fff;
}

.p-color {
  color: #8a2e43;
}

.money {
  color: #907dd4;
}
