// lists
.list {
  width: 1005px;
}

.inline {
  display: inline;
}

@media only screen and (max-width: 480px) {
  .list {
    align-items: center;
    flex-direction: column;
    width: 350px;
  }
}

.list-item {
  display: inline-flex;
  flex-direction: column;
  height: 280px;
  overflow: hidden;
  width: 315px;

  background-color: var(--first);
  box-shadow: 0px 2.7066495418548584px 20.29987144470215px rgba(0, 0, 0, 0.25);
  border: 0.676662px solid var(--second);

  margin-bottom: 20px;
  margin-right: 20px;

  position: relative;
}

@media only screen and (max-width: 480px) {
  .list-item {
    margin-bottom: 30px;
    width: 340px;
  }
}

.list-item img {
  border-bottom: 0.676662px solid var(--second);
  height: 196px;
  object-fit: cover;
  width: 315px;
}

@media only screen and (max-width: 480px) {
  .list-item img {
    // height: 170px;
    width: 340px;
  }
}

.list-item-bottom {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 9.4px;
  margin-left: 11px;
  margin-bottom: 8.75px;
  margin-right: 6.53px;
}

.list-item-bottom h4 {
  color: var(--second);
  font-family: "Helvetica-Bold", Helvetica, Arial, serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
}

.list-item-bottom-mid {
  margin-top: 6.77px;
  flex-wrap: wrap;
  text-transform: uppercase;
  max-height: 20px;
  overflow: hidden;
}

.list-item-bottom-mid li {
  font-family: Helvetica;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  display: inline;
  letter-spacing: 0.05em;

  color: var(--second);
  margin-right: 7px;
  cursor: pointer;
}

.list-item-bottom a {
  cursor: pointer;

  color: var(--second);
  font-family: "Helvetica-Regular", Helvetica, Arial, serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;

  letter-spacing: 0.6px;
  min-height: 15px;
  text-decoration: underline;

  position: absolute;
  left: 7.53px;
  bottom: 8.39px;
}

.list-item-empty {
  width: 315px;
}

.list-show-button {
  margin-top: 35px;

  align-items: center;
  background-color: var(--third);
  display: flex;
  height: 38px;
  justify-content: center;
  width: 151px;

  cursor: pointer;
  box-shadow: 0px 2.7066495418548584px 20.29987144470215px rgba(0, 0, 0, 0.25);

  align-self: center;
}

.list-show-button h6 {
  color: var(--first);
  font-family: "Helvetica-Regular", Helvetica, Arial, serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}
